@model Note
@inject IImageService _ImageService

@{
    ViewData["Title"] = "Delete";
}

<h2>Are you sure?</h2>

<p>This note will be permanently deleted.</p>
<div class="row">
    <div class="col-12 col-lg-6">
        @if (Model.ImageData == null)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title line-clamp">@Model.NoteTitle</h5>
                    <p class="card-text note">@Model.NoteText</p>
                    <p class="card-text"></p>
                </div>
                @if (Model.Categories.Count() > 0)
                {
                    <div class="card-footer text-body-secondary">
                        <div class="row">
                            <div class="col-12 ps-1 pb-1 pb-xl-0  text-start" style="overflow-x:auto;">
                                @foreach (Category category in Model.Categories)
                                {
                                    <span class="badge rounded-pill border border-1 text-dark fw-normal">@category.Name</span>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-4">
                        <img src="@_ImageService.ConvertByteArrayToFile(@Model.ImageData,@Model.ImageType!)"
                             class="note-image rounded-start" />
                    </div>
                    <div class="col-8">
                        <div class="card-body" style="">
                            <h5 class="card-title line-clamp">@Model.NoteTitle</h5>
                            <p class="card-text note">@Model.NoteText</p>
                            <p class="card-text"></p>
                        </div>
                        @if (Model.Categories.Count() > 0)
                        {
                            <div class="card-footer text-body-secondary"
                                 style="position:absolute; bottom:0; width:66.7%">
                                <div class="row">
                                    <div class="col-12 px-0 pb-1 ps-1 pb-xl-0 text-start" style="overflow-x:auto;">
                                        @foreach (Category category in Model.Categories)
                                        {
                                            <span class="badge rounded-pill border border-1 text-dark fw-normal">@category.Name</span>
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        <form class="d-flex justify-content-between mb-3" asp-action="Delete" asp-route-id="@Model.Id">
            <input hidden asp-for="Id" />
            <a asp-action="Index" asp-controller="Notes" class="btn btn-secondary rounded-pill btnLink">Cancel</a>
            <button type="submit" class="btn btn-primary rounded-pill btnLink">Delete</button>
        </form>
    </div>
</div>