@model IEnumerable<Note>
@inject IImageService _ImageService;

@{
    ViewData["Title"] = "Notes";
}

<div class="text-end mb-3">
    <a class="btn btn-primary rounded-pill" asp-action="create" asp-controller="notes">Add<i class="bi bi-person-plus-fill ps-2"></i></a>
</div>
<div class="row g-3 mb-3">
    <div id="categoryFilter" class="col-12 col-md-6">
        <form asp-action="Index" asp-controller="Notes" method="post">
            <label class="form-label fw-bold">CATEGORY FILTER</label>
            <select name="CategoryId" class="form-control" asp-items="@ViewBag.CategoriesList"
                    onchange="this.form.submit()" onfocus="this.selectedIndex=-1;this.blur();">
                <option>All Notes</option>
            </select>
        </form>
    </div>
    <div id="searchBox" class="col-12 col-md-6">
        <form asp-action="SearchNotes" asp-controller="Notes" method="post">
            <label for="searchBox" class="form-label fw-bold">SEARCH</label>
            <div class="input-group">
                <input id="searchBox" class="form-control" type="search"
                       name="searchString" placeholder="Contact Name"
                       value="@ViewBag.SearchString" />
                <input type="submit" class="btn btn-primary" value="Search" />
            </div>
        </form>
    </div>
    @if (Model.Count() > 0)
    {
        @foreach (Note note in Model)
        {
            @if (note.ImageData == null)
            {
                <div class="col-12 col-lg-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title line-clamp">@note.NoteTitle</h5>
                            <p class="card-text note">@note.NoteText</p>
                            <p class="card-text"></p>
                        </div>
                        <div class="card-footer text-body-secondary">
                            <div class="row">
                                <div class="col-12 col-md-6 col-lg-12 col-xl-6 ps-1 pb-1 pb-xl-0 text-center text-md-start text-lg-center text-xl-start" style="overflow-x:auto;">
                                    @foreach (Category category in note.Categories)
                                    {
                                        <span class="badge rounded-pill border border-1 text-dark fw-normal">@category.Name</span>
                                    }
                                </div>
                                <div class="col-12 col-md-6 col-lg-12 col-xl-6 px-0 text-center text-md-end text-lg-center text-xl-end">
                                    <a class="me-3 editIcons" asp-controller="Notes" asp-action="Edit" asp-route-id="@note.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@note.Id"><i class="bi bi-trash-fill"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="col-12 col-lg-6">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-4">
                                <img src="@_ImageService.ConvertByteArrayToFile(@note.ImageData,@note.ImageType!)"
                                     class="note-image rounded-start" />
                            </div>
                            <div class="col-8">
                                <div class="card-body" style="">
                                    <h5 class="card-title line-clamp">@note.NoteTitle</h5>
                                    <p class="card-text note">@note.NoteText</p>
                                    <p class="card-text"></p>
                                </div>
                                <div class="card-footer text-body-secondary"
                                     style="position:absolute; bottom:0; width:66.7%">
                                    <div class="row">
                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6 px-0 pb-1 pb-xl-0 text-center text-md-start text-lg-center text-xl-start" style="overflow-x:auto;">
                                            @foreach (Category category in note.Categories)
                                            {
                                                <span class="badge rounded-pill border border-1 text-dark fw-normal">@category.Name</span>
                                            }
                                        </div>
                                        <div class="col-12 col-md-6 col-lg-12 col-xl-6 px-0 text-center text-md-end text-lg-center text-xl-end">
                                            <a class="me-3 editIcons" asp-controller="Notes" asp-action="Edit" asp-route-id="@note.Id"><i class="bi bi-pencil-square"></i></a>
                                            <a class="me-3 editIcons" asp-action="Delete" asp-route-id="@note.Id"><i class="bi bi-trash-fill"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    }
    else
    {
        @* If there are no Notes, display a button to add a Note*@
        <div class="col">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">No Notes Found</h5>
                            <div class="card-text">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <a class="btn btn-lg btn-primary rounded-pill px-4" asp-action="create" asp-controller="Notes">Add Note<i class="bi bi-pencil-square ps-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {

}